@mixin button-styles(
  $bg-color: #8b735b,
  $text-color: white,
  $hover-color: #6a5747
) {
  background-color: $bg-color;
  color: $text-color;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-family: "Bebas Neue", sans-serif;
  font-size: 20px;
  transition: background-color 0.3s;

  &:hover {
    background-color: $hover-color;
  }
}

h1 {
  font-family: "Bebas Neue", sans-serif;
  color: #8b735b;
  text-align: center;
  font-size: 50px;
  margin-bottom: 20px;
}

h2 {
  font-family: "Oswald", sans-serif;
  color: #8b735b;
  font-size: 30px;
  margin-top: 40px;
  text-align: center;
}

p {
  font-family: "Raleway", sans-serif;
  color: #8b735b;
  text-align: center;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;

  th,
  td {
    border: 1px solid #8b735b;
    padding: 8px;
    text-align: left;
    font-family: "Raleway", sans-serif;
  }

  th {
    background-color: #8b735b;
    color: white;
  }

  tr:nth-child(even) {
    background-color: white;
  }

  tr:nth-child(odd) {
    background-color: white;
  }
}

.slikaAutora {
  width: 15%;
  height: auto;
  display: block;
  margin: 10px auto;
  border: 2px solid black;
}

.slikaERAa {
  width: 20%;
  height: auto;
  display: block;
  margin: 10px auto;
}

.slikaERAimg {
  width: 40%;
  height: auto;
  display: block;
  margin: 10px auto;
  border: 2px solid black;
}

#go-up {
  background-color: #8b735b;
  padding: 10px 20px;
  border-radius: 5px;
  display: inline-block;
  font-family: "Bebas Neue", sans-serif;
  color: white;
  text-align: center;
  font-size: 18px;
  text-decoration: none;
  transition: background-color 0.3s;

  &:hover {
    background-color: #6a5747;
  }
}

p b {
  font-weight: bold;
  font-family: "Oswald", sans-serif;
}

.center-container {
  position: relative;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
}

.validators {
  display: inline-block;
  margin-right: 0px;

  img {
    width: 50px;
    height: auto;
  }
}
