@mixin button-styles(
  $bg-color: #8b735b,
  $text-color: white,
  $hover-color: #6a5747
) {
  background-color: $bg-color;
  color: $text-color;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-family: "Bebas Neue", sans-serif;
  font-size: 20px;
  transition: background-color 0.3s;

  &:hover {
    background-color: $hover-color;
  }
}

.profil-form {
  margin: auto;
  max-width: 500px;

  .form-group {
    margin-bottom: 15px;

    label {
      display: block;
      margin-bottom: 5px;
    }

    input {
      width: 100%;
      padding: 8px;
      border: 1px solid #ccc;
      border-radius: 4px;

      &[readonly] {
        background-color: #ddd;
      }
    }
  }

  .btn-primary {
    margin-top: 20px;
  }
}

.toggle-switch {
  display: flex;
  align-items: center;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.profil-form {
  font-family: "Arial", sans-serif;
  background-color: beige;
  padding: 20px;
  border-radius: 10px;

  h2 {
    font-family: "Bebas Neue", sans-serif;
    color: #6a5747;
    text-align: center;
    font-size: 40px;
    margin-bottom: 20px;
  }

  .form-group {
    margin-bottom: 20px;

    label {
      font-family: "Oswald", sans-serif;
      color: #8b735b;
      display: block;
      margin-bottom: 5px;
    }

    input[type="text"],
    input[type="password"],
    input[type="email"] {
      padding: 10px;
      width: 100%;
      border: 1px solid #ccc;
      border-radius: 5px;
      font-size: 16px;
    }

    input[type="checkbox"] {
      margin-top: 7px;
    }

    .switch {
      position: relative;
      display: inline-block;
      width: 60px;
      height: 34px;
    }

    .slider {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #ccc;
      -webkit-transition: 0.4s;
      transition: 0.4s;
      border-radius: 34px;
    }

    .slider:before {
      position: absolute;
      content: "";
      height: 26px;
      width: 26px;
      left: 4px;
      bottom: 4px;
      background-color: white;
      -webkit-transition: 0.4s;
      transition: 0.4s;
      border-radius: 50%;
    }

    input:checked + .slider {
      background-color: #8b735b;
    }

    input:focus + .slider {
      box-shadow: 0 0 1px #8b735b;
    }

    input:checked + .slider:before {
      -webkit-transform: translateX(26px);
      -ms-transform: translateX(26px);
      transform: translateX(26px);
    }

    .slider.round {
      border-radius: 34px;
    }

    .slider.round:before {
      border-radius: 50%;
    }
  }

  .btn-primary {
    background-color: #8b735b;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-family: "Oswald", sans-serif;
    font-size: 16px;
    transition: background-color 0.3s;

    &:hover {
      background-color: #6a5747;
    }

    margin-top: 10px;
  }
}

h1 {
  font-family: "Oswald", sans-serif;
  font-size: 40px;
  color: #6a5747;
}

.center-container {
  position: relative;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
}

.validators {
  display: inline-block;
  margin-right: 0px;

  img {
    width: 50px;
    height: auto;
  }
}
