<div class="container">
    <div class="d-flex justify-content-center h-100">
        <div class="card">
            <div class="card-header">
                <h1>GitHub Prijava</h1>
            </div>
            <div class="card-body">
                <button class="btn btn-primary" (click)="loginWithGitHub()">Prijavi se putem GitHub-a</button>
            </div>
        </div>
    </div>
</div>

<div class="center-container">
    <div class="validators">
        <a href="https://validator.w3.org/#validate_by_input" target="_blank">
            <img src="../../assets/slike/validatorHTML.png" alt="htmlValidacija">
        </a>
    </div>

    <div class="validators">
        <a href="https://stylelint.io/demo/#N4Igxg9gJgpiBcIB0kB2AXAhgS1TATgATAA6qhhU2AzgA4A2mAnvIQGb0wAeA3GRQCsArtXTY2TALRp0MDKzBzZ+PuUKZ62AOapJ2WQFtqCpQVUUAFjG0X0rAKwAGAG4Xz7CBknVsALxisAMyOtLxkAL5kZCiY+FDE-IQARphgANZa+BBCqFDSEPQQ+KxJ1low7rSYUFSoWqwATCFhaklFsPiS+NXYIqwAjM3uslzokhraqCYYZlFqFv0JahRsnmNsmAbY9CyEJCAAQjAp1IQAcjBCMPsANITUmKjU3gTi7hSQhcWEAMQAHEkAOyBexJd6EAyxLS4SRtdDoCAGRpDRKRVCJWhLCgfApFVj-IEgsGJCiQ-DQ3RwhFIwhNULuNGJJBJdC6Wj4bBkphY7EpdKZbK5fJffEA4Gg8GfPGEADuFn0FRJhCqNVw9UIg1CtJRy2S7QIrFQnkVuracQIXR6fQ1OuxhDAQnw1GltAguGU4NWXg2Wx2rH2RxO50u1xAdweTxeHLYnrW3j8AQ1ADZ6Ur0N0nvpsJ4SqkMlkcnkpURHEhAtRVEqAGTwCwQZwEHl2vn5wVF3HfH5JzD2QEAFkB4LRFDRjNQKFMnRkODwRFIaldPjEOfUSWd9CEsncVMRrEc7k4bDshCcAFJhhnqKt8DT049qIxZAANAAUkjPAEp3FQ6IxdhxuHcYRRHEKQZCUaYPQiOYkGcCYoEwBEnR5H8GGYVhcE0PBYUKdJKzUTktCbWVsCgdALAcW1sSsGxj0wTcIAZaDUDDEA2G2GAzk2OBEG4TYGBgJBqDAahqFYtB2K0BAQHnCh9m4WRcmofZWAAbSVfZRCYTgsLGCTtG8LBcliKB9kSABdCJxM8SSADEikhdBpIEZ0WJuEBYFoMTEFkvYQC0nT3RUvzHxgURbkSTT0G0mBdPyVBJMMx4ELiYL9lC8KQCs8IgA"
            target="_blank">
            <img src="../../assets/slike/SCSSvalidator.png" alt="htmlValidacija">
        </a>
    </div>
</div>